// $primaryColor : #4CAF50;
// $secondaryColor:#E3F2FD;

// #myNav5{
//     background-color: $primaryColor;
// }
// .nav-link{
//     background-color: $secondaryColor
// }
.jumbotron .container .row {
    align-items: center;
}
.jumbotron img.float-right {
    max-width: 100%;
    height: auto;
}
