// $primaryColor : #4CAF50;
// $secondaryColor:#E3F2FD;

// #myNav5{
//     background-color: $primaryColor;
// }
// .nav-link{
//     background-color: $secondaryColor
// }
.jumbotron .container .row {
    align-items: center;
}
.jumbotron img.float-right {
    max-width: 100%;
    height: auto;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgb(255, 255, 255);
    content: " / "; 
  }

  .donationDiv {
        background-image: url("../assets/bg6.jpg");
        &.mx{
            margin: 6rem 7rem !important;
        }
        &.py-5{
            padding: 6rem 3rem !important;
        }
    
  }
.donation{
    ul{
        li{
            list-style: none;
            border: 2px solid white;
            border-color: white;
            margin: 10px;
            border-radius: 5px;
            padding: 10px 30px;
        }
        & :hover{
            cursor: pointer;
            border: 2px solid black;
        }
        & .active{
            border: 2px solid black;
        }
      }
}


.bg-grey {
        background-color: #e3eadf !important;
}
