// $primaryColor : #4CAF50;
// $secondaryColor:#E3F2FD;

// #myNav5{
//     background-color: $primaryColor;
// }
// .nav-link{
//     background-color: $secondaryColor
// }
.jumbotron .container .row {
    align-items: center;
}
.jumbotron img.float-right {
    max-width: 100%;
    height: auto;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgb(255, 255, 255);
    content: " / "; 
  }
  $breadcrumb-divider-color:var(--bs-primary-rgb);
.donation{
    ul{
        li{
            list-style: none;
            border: 1px solid white;
            border-color: white;
            margin: 10px;
            padding: 20px;
            border-radius: 5px;
        }
      }
}
  